name: Build
on:
  pull_request:
  push:

jobs:
  test:
    timeout-minutes: 15
    strategy:
      matrix:
        node: ['18.18.x', '20.x', '22.x', '24.x']
        pkg: ['sdk', 'cli']
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on:
      labels: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Test ${{ matrix.pkg }}
        run: |
          pnpm --filter='${{ matrix.pkg }}' test

      - name: Lint (if present) ${{ matrix.pkg }}
        run: pnpm --if-present --filter='${{ matrix.pkg }}' lint

      - name: E2E tests (if present) for ${{ matrix.pkg }}
        env:
          TEST_MERMAIDCHART_API_TOKEN: ${{ secrets.TEST_MERMAIDCHART_API_TOKEN }}
        run: |
          pnpm --if-present --filter='${{ matrix.pkg }}' test:e2e
